{% load humanize %}
{{perms.demo}}
<div class="container">
<div class="row">
<div class="col-sm-12 main">
<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
      <th>Property Name</th>
      <th>Owned By</th>
      <th>Managed By</th>
      <th>Address</th>
      <th>Phone</th>
      <th>BR</th>
      <th>Minimum Income</th>
      <th>Maximum Income</th>
      <th>Rent</th>
    </tr>
</thead>
<tbody>
{% for apartment in apartments %}
<tr>
  <td>
  {{apartment}}
  </td>
  <td>
  {{apartment.building.apartment_complex.owner}}
  </td>
  <td>
  {{apartment.building.apartment_complex.manager}}
  </td>
  <td>
  {{apartment.building.street_address}}
  </td>
  <td>
  {{apartment.contact.phone}}
  </td>
  <td>
  {% if apartment.number_of_bedrooms == 0 %}
  Studio
   {% else %}
  {{apartment.number_of_bedrooms}}BR
   {% endif %}
  </td>
  <td>
  ${{apartment.minimum_income|intcomma}}
  </td>
  <td>
  ${{apartment.maximum_income|intcomma}}
  </td>
  <td>
  ${{apartment.rent|intcomma}}
  </td>
  <td>
  {% if request.user.is_authenticated and request.user.apartmentcomplexuser.apartment_complex == apartment.building.apartment_complex and perms.demo.delete_apartment %}
  <button class="btn btn-danger"> Delete </button>
  {% endif %}
  </td>
</tr>
{% endfor %}
<tbody>
</table>
</div>
</div>
</div>
<!-- <div class="row">
<div class="col-sm-3 col-offset-9"><button class="btn btn-primary" type="button" onclick="location.href='/apartments/create/'">  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Apartment</button></div>
</div> -->
</div>
